:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #424345;
  --black2: #2c2929;
  --black3: #1c1d1c;
  --black-lighter: #1ccc16;
  --black-light: #173d77;
  --pink: #ffaa00;
  --orange: #f89e00;
  --gradient: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

::-webkit-scrollbar {
  display: none;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: gray;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
        rgba(lightgray, 0) 0,
        rgba(lightgray, 0.2) 20%,
        rgba(lightgray, 0.5) 60%,
        rgba(lightgray, 0));
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}